/* ==UserStyle==
@name           Usercss for anime1
@namespace      https://github.com/gslin/usercss/anime1.user.css
@version        0.20230513.2
@description    Usercss for anime1
@author         Gea-Suan Lin <gslin@gslin.com>
==/UserStyle== */

@-moz-document regexp("^https://anime1\.(me|pw)/\d+") {
    #primary {
        width: 100%;
    }
    #secondary {
        display: none;
    }
    .player-space, .vjscontainer {
        height: auto;
        max-width: none;
    }
    .video-js {
        height: auto!important;
    }
    .vjs-control-bar {
        opacity: 1!important;
        position: relative!important;
    }
    .vjscontainer > div:last-child {
        display: none!important;
    }
    video {
        height: auto!important;
    }
}
