/* ==UserStyle==
@name           UserCSS for news.ycombinator.com
@namespace      https://github.com/gslin/usercss/raw/master/news.ycombinator.com.user.css
@version        0.20241008.0
@description    UserCSS for news.ycombinator.com
@author         Gea-Suan Lin <gslin@gslin.com>
==/UserStyle== */

@-moz-document domain("news.ycombinator.com") {
    .comment {
        font-family: "Libre Franklin", sans-serif;
    }
    .comment-tree tr > td:nth-of-type(2) {
        border-left: 3px solid #bbb;
        padding-left: 0.5em;
    }
    .title {
        font-family: "Libre Baskerville", serif;
    }
    #hnmain > tbody > tr > td {
        padding-right: 0.5em;
    }
}
