/* ==UserStyle==
@name           PChome CSS
@namespace      https://github.com/gslin/usercss/pchome.user.css
@version        0.20250305.0
@description    PChome CSS
@author         Gea-Suan Lin <gslin@gslin.org>
==/UserStyle== */

@-moz-document domain("24h.pchome.com.tw") {
    /*
     * Reset cursor on product's description, unscroll it and hide "expand" button.
     */
    div.c-blockCombine__info--prodSlogan {
        cursor: unset;
        max-height: none;
    }
    div.c-blockCombine--prodSlogan > button {
        display: none;
    }

    /*
     * Make sold-out products more clear.
     */
    div.c-prodInfoV2:has(li.is-disabled) {
        background-color: lightgrey;
    }

    /*
     * List all categories by default, and hide "expand" button.
     */
    div.c-menuList button {
        display: none;
    }
    li.c-menuList__item.is-hide {
        display: block;
    }

    /*
     * Show all descriptions.
     */
    .c-prodInfoV2__prodStateLabel {
        position: initial;
    }
    .c-prodInfoV2__title {
        -webkit-line-clamp: initial !important;
    }
}
