/* ==UserStyle==
@name           PChome CSS
@namespace      https://github.com/gslin/usercss/pchome.user.css
@version        0.20221027.0
@description    PChome CSS
@author         Gea-Suan Lin <gslin@gslin.org>
==/UserStyle== */

@-moz-document domain("ecshweb.pchome.com.tw") {
    .s_list .prod_img .s_ticrf+img {
        opacity: 1 !important;
    }
    .s_ticrf:before {
        background: none !important;
    }
}

@-moz-document domain("ecvip.pchome.com.tw") {
    /* Hide cancelled transactions */ 
    :is(.order_table, .order_table_y):has(td[width="57"]:empty) {
        display: none;
    }
}
