/* ==UserStyle==
@name           weworkremotely.com
@namespace      https://github.com/gslin/usercss/blob/master/weworkremotely.com.user.css
@version        0.20190102.0
@description    Use normal fonts
@author         Gea-Suan Lin <gslin@gslin.org>
==/UserStyle== */

@-moz-document domain("weworkremotely.com") {
    body {
        font-family: sans-serif;
    }

    strong {
        font-family: sans-serif;
        font-weight: bold;
    }
}
