/* ==UserStyle==
@name           www.ptt.cc
@namespace      https://github.com/gslin/usercss/blob/master/www.ptt.cc.user.css
@version        0.20220712.0
@description    Monospace for main content
@author         Gea-Suan Lin <gslin@gslin.org>
==/UserStyle== */

@-moz-document domain("www.ptt.cc") {
    #main-content {
        font-family: "Noto Sans Mono CJK JP", monospace;
        line-height: 1.2em;
    }
    .article-metaline {
        line-height: 1.4em;
    }
    img {
        max-height: none;
    }
}
